Documentation/API/Master/polyVI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by DANA JORAN (NATIONAL INSTRUMENTS) -->
<!--W3C Schema generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="block_level.xsd"/>
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xmlNamespace.xsd"/>
	<xs:element name="polyvi">
		<xs:annotation>
			<xs:documentation>Root level element for polyVIs</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string">
					<xs:annotation>
						<xs:documentation>Name of polyVI</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="append" minOccurs="0"/>
				<xs:element ref="shortDescription"/>
				<xs:element ref="longDescription" minOccurs="0"/>
			       <xs:element ref="visionImageInfo" minOccurs="0"/>
				<xs:element ref="details" minOccurs="0"/>
				<xs:element ref="examples" minOccurs="0"/>
				<xs:element name="instances">
					<xs:annotation>
						<xs:documentation>Set of instance VIs</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="refVI" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Reference to an instance VI.</xs:documentation>
								</xs:annotation>
								<xs:complexType mixed="true">
									<xs:attribute name="fileName" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="options" type="perFileOptionsType" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute ref="xml:space" use="required" fixed="preserve"/>
			<xs:attribute name="VIXMLVersion" type="xs:string" use="optional"/>
			<xs:attribute name="installedWith" type="xs:string" use="optional"/>
			<xs:attribute name="VILibrary" type="xs:string" use="optional"/>
			<xs:attribute ref="altConnectorPane" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
