Documentation/API/constant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Jonathan McCreless Roe (National Instruments) -->
<!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="block_level.xsd"/>
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xmlNamespace.xsd"/>
	<xs:element name="constant">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string"/>
				<xs:element ref="append" minOccurs="0"/>
				<xs:element ref="operatingSystem" minOccurs="0"/>
				<xs:element ref="shortDescription"/>
				<xs:element ref="longDescription" minOccurs="0"/>
				<xs:element ref="buttons" minOccurs="0"/>
				<xs:element ref="visionImageInfo" minOccurs="0"/>
				<xs:element ref="details" minOccurs="0"/>
				<xs:element ref="examples" minOccurs="0" maxOccurs="1"/>
				<xs:element name="options" type="perFileOptionsType" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="optional"/>
			<xs:attribute ref="xml:space" use="required" fixed="preserve"/>
			<xs:attribute name="installedWith" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
