Documentation/API/enums.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by DANA JORAN (NATIONAL INSTRUMENTS) -->
<!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="block_level.xsd"/>
    
    <xs:element name="enum">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="enumValue" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="enumVals">
            <xs:selector xpath="enumValue"/>
            <xs:field xpath="@value"/>
        </xs:unique>
        <xs:unique name="enumNames">
            <xs:selector xpath="enumValue"/>
            <xs:field xpath="@name"/>
        </xs:unique>
    </xs:element>
    
    <xs:element name="ring">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ringValue" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="ringVals">
            <xs:selector xpath="ringValue"/>
            <xs:field xpath="@value"/>
        </xs:unique>
        <xs:unique name="ringNames">
            <xs:selector xpath="ringValue"/>
            <xs:field xpath="name"/>
        </xs:unique>
    </xs:element>
    
    <xs:element name="enumValue">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="shortDescription"/>
                <xs:element ref="longDescription" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="value" type="xs:double" use="required"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="ringValue">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string" />
                <xs:element ref="shortDescription"/>
                <xs:element ref="longDescription" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="value" type="xs:double" use="required"/>
        </xs:complexType>
    </xs:element>
    
</xs:schema>
