Documentation/API/Slave/parameters.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by DANA JORAN (NATIONAL INSTRUMENTS) -->
<!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="block_level.xsd" />
	<xs:include schemaLocation="enums.xsd" />
                <xs:include schemaLocation="options.xsd" />
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xmlNamespace.xsd"/>
	<xs:element name="parameters">
		<xs:complexType>
			<xs:sequence>
			     <xs:element name="quickPreview" type="emptyTag" minOccurs="0" />	
			     <xs:element ref="parameter" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute ref="xml:space" use="required" fixed="preserve"/>
			<xs:attribute name="VIXMLVersion" type="xs:string" use="optional"/>
		</xs:complexType>
		<xs:unique name="parameterId">
			<xs:selector xpath="parameter"/>
			<xs:field xpath="@id"/>
		</xs:unique>
	</xs:element>
	<xs:element name="parameter">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string"/>
				<xs:element ref="shortDescription"/>
				<xs:element ref="longDescription" minOccurs="0"/>
			               <xs:choice>
			                   <xs:element ref="enum" minOccurs="0" />
			                   <xs:element ref="ring" minOccurs="0" />
			                   <xs:element name="subParameters" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="refParameter" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
			                   </xs:element>
			                   
			               </xs:choice>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="img" type="xs:string" use="required"/>
			<xs:attribute name="parentVI" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
